body{
    font-family: 'Courier New', Courier, monospace;
    background-color:#1F2937 ;
    color: rgb(241, 233, 233);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Styles for navigation bar*/
.header{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.logo{
    font-size: 20px;
    font-weight: 700;
    color: #F9FAF8;
    display: flex;
    
}

.navbar{
    display: flex;
    justify-items: flex-end;
    align-items: center;
    margin-right: 250px;
}

.navs{
    list-style: none;
    display: flex;
    gap:40px;
    font-weight: 600;
}

li{
    color: #F9FAF8;
}

/*Styles for the hero section*/
.hero{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:32px;
    gap:30px;
    
}

.hero-title{
    font-size: 50px;
}

.hero-desc{
    width:500px;
}


.hero-para{
    font-size: 25px;
}


.signUp-button{
    border:0px solid transparent;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius:8px;
    padding:5px;
    font-size: 18px;
    font-weight: 900;
    width:140px;
}


img{
    width: 600px;
}

/*Section 1 style for info about site or images users can interact*/
.section-1{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 500px;
}

.section-header{
    color: #1F2937;
    display: flex;
    justify-content: center ;
    font-size: 40px;
}

.box-container{
    display: flex;
    text-align: center;
    justify-content: center;
    gap:10px;
}

.box1,
.box2,
.box3,
.box4{
    display: flex;
    width: 170px;
    height: 170px;
    border: 4px solid rgb(24, 139, 233);
    background-color: transparent;
    border-radius: 20px;
    flex-shrink: 0;
}

.box-desc{
    color:black; 
}

.box-wrapper{
    max-width: 200px;
}

/*Section 2 styles for the quotes/customer review*/

/*This have the same properties as the last section but  I decided to separate
 them to avoid consfusion for other editors*/
.section-2{
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 207, 207);
    height: 500px; 
}

.quote-section{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}   

.quote-text{
    display: flex;
    font-size: 30px;
    line-height: 40px;
    text-transform: capitalize;
    max-width: 600px;
    
}

.quote-author{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: flex-end;
    margin-right: 620px;
    font-size:20px;
    font-weight: 700;
    margin-top: -50px;
    
}
.quote-author,
.quote-text{
    color:#1F2937;
}

/*Styles for section-3 call to action page with text and button*/

.section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 300px; 
}

.call-to-action{
    display: flex;
    justify-content: center;
    gap:50px;
    background-color: rgb(17, 137, 235);
    width: 900px;
    padding: 40px;
    border-radius: 10px;
    align-items:center ;
    line-height: 10px;
}

.action-btn{
    border:2px solid #F9FAF8;
    background-color: transparent;
    color: #F9FAF8;
    border-radius:8px;
    padding:5px;
    font-size: 18px;
    font-weight: 900;
    height: min-content;
    width:140px;
}
