body{
    font-family: 'Courier New', Courier, monospace;
    background-color:#1F2937 ;
    color: rgb(241, 233, 233);
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.logo{
    font-size: 12px;
    font-weight: 700;
    color: #F9FAF8;
    display: flex;
    margin-right: 500px;
}

.navbar{
    display: flex;
    justify-items: flex-end;
    align-items: flex-end;
    margin-right: 300px;
}

.navs{
    list-style: none;
    display: flex;
    gap:32px;
}

li{
    color: #F9FAF8;
}

.hero{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding:32px;
    gap:30px;
    margin-left: 20px;
}

.hero-desc{
    width:500px;
}


.hero-para{
    font-size: 20px;
}


.signUp-button{
    border:0px solid transparent;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius:8px;
    padding:5px;
    font-size: 18px;
    font-weight: 900;
    width:140px;
}


img{
    width: 500px;
}